USE [master]
GO
/****** Object:  Database [LibraryDb]    Script Date: 6.02.2026 1:48:13 ÖÖ ******/
CREATE DATABASE [LibraryDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LibraryDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LibraryDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDb]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 6.02.2026 1:48:14 ÖÖ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 6.02.2026 1:48:14 ÖÖ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Author] [nvarchar](100) NULL,
	[PageCount] [int] NULL,
	[Category] [nvarchar](50) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loans]    Script Date: 6.02.2026 1:48:14 ÖÖ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[BookId] [int] NULL,
	[LoanDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[IsReturned] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 6.02.2026 1:48:14 ÖÖ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[RegisterDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Username], [Password]) VALUES (1, N'admin', N'1234')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Title], [Author], [PageCount], [Category], [Status]) VALUES (4, N'Sefiller', N' Victor Hugo', 546, NULL, 0)
INSERT [dbo].[Books] ([Id], [Title], [Author], [PageCount], [Category], [Status]) VALUES (5, N'Hayvan Çiftliği', N'George Orwell', 124, NULL, 0)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Loans] ON 

INSERT [dbo].[Loans] ([Id], [MemberId], [BookId], [LoanDate], [DueDate], [IsReturned]) VALUES (1, 6, 4, CAST(N'2026-02-02T22:47:20.387' AS DateTime), CAST(N'2026-02-02T22:47:14.017' AS DateTime), 1)
INSERT [dbo].[Loans] ([Id], [MemberId], [BookId], [LoanDate], [DueDate], [IsReturned]) VALUES (2, 7, 5, CAST(N'2026-02-05T00:58:08.797' AS DateTime), CAST(N'2026-02-07T00:57:44.000' AS DateTime), 0)
INSERT [dbo].[Loans] ([Id], [MemberId], [BookId], [LoanDate], [DueDate], [IsReturned]) VALUES (3, 6, 4, CAST(N'2026-02-05T00:58:31.543' AS DateTime), CAST(N'2026-02-06T00:57:44.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Loans] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [FullName], [Phone], [Email], [RegisterDate]) VALUES (6, N'Yiğit Kaan', N'0546 491 4067', N'yeka@gmail.com', CAST(N'2026-02-02T22:19:45.527' AS DateTime))
INSERT [dbo].[Members] ([Id], [FullName], [Phone], [Email], [RegisterDate]) VALUES (7, N'Mike Shelby', N'0505 847 8597', N'mike@gmail.com', CAST(N'2026-02-05T00:57:36.583' AS DateTime))
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
USE [master]
GO
